path {
  stroke-width: 1.5px;
  stroke: #FF9A9A;
  fill: #FFBD9C
}

#controls {
  position: absolute;
  width: 240px;
  font: 10px sans-serif;
}

#controls span,
#controls label {
  position: relative;
  top: -5px;
  padding: 5px;
  display: inline-block;
  width: 20px;
}

#controls button {
  font: 10px sans-serif;
  padding: 5px;
  width: 70px;
}
